<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Form</title>
</head>

<body>

<div class="container">

    <h3 id="demo"></h3>
    <hr>
    <br><br>

    <script th:inline="javascript">
    /*<![CDATA[*/
    var val = /*[[${replace}]]*/ ;
    if(val==null){
    document.getElementById("demo").innerHTML = "Add Employee";
    }
    else{
    document.getElementById("demo").innerHTML = val+" Employee";
    }
    /*]]>*/
    </script>

    <form th:name="myform" th:action="@{/employees}"
          th:object="${obj}" method="POST"  >
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4" placeholder="enter first name  (*)">
        <p style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4" placeholder="enter last name (*)">
        <p style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

        <button type="submit" class="btn btn-info col-2">Save</button>


    </form>

    <hr>
    <a th:href="@{/departments}">Back to List of Departments</a>

</div>
</body>

</html>










