
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Employee Profile</title>
</head>

<body>

<div class="container">

    <h3>Employee Profile Details</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th colspan="2">Details</th>
        </tr>
        </thead>

        <tbody>
        <tr >
            <td >Id</td>
            <td th:text="${employeeObj.id}" />
        </tr>
        <tr >
            <td >Photo</td>
            <td><img th:src="@{'data:image/png;base64,'+${pic}}"></td>
        </tr>
        <tr >
            <td >First Name</td>
            <td th:text="${employeeObj.firstName}" />
        </tr>
        <tr >
            <td >Last Name</td>
            <td th:text="${employeeObj.lastName}" />
        </tr>
        <tr >
            <td >Email Id</td>
            <td th:text="${employeeObj.emailId}" />
        </tr>
        <tr >
            <td >Date of Birth</td>
            <td th:text="${employeeObj.dateOfBirth}" />
        </tr>
        <tr >
            <td >Date Of Joining</td>
            <td th:text="${employeeObj.dateOfJoining}" />
        </tr>
        <tr >
            <td >Mobile Number</td>
            <td th:text="${employeeObj.mobileNumber}" />
        </tr>
        <tr >
            <td >Experience</td>
            <td th:text="${employeeObj.experience}" />
        </tr>
       <!-- <tr >
            <td >Download Resume</td>
            <td><a th:href="@{'/downloadFile/'+${employeeObj.id}}">Download</a></td>
        </tr>-->

        </tbody>
    </table>
    <a th:href="@{'/departments/'+${dep_id}+'/employees'}"
       class="btn btn-primary btn-sm mb-3">
        Back To Employees List
    </a>
</div>

</body>
</html>



